
.scopes .content-container {
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    gap: 30px;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
}

.scopes .content-container .scopes-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.scopes .content-container .scopes-content .title {
    font-size: 24px;
}